.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.float{
  position:fixed;
  margin: 20px;
	width:60px;
	height:60px;
	/* bottom:40px; */
	/* right:40px; */
	background-color: rgb(55, 58, 71);
	color:#FFF;
	border-radius:30%;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
